<% if @article.errors.any? %>
	<h2>The following errors prevented the article from being saved:</h2>
	<% @article.errors.full_messages.each do |msg| %>
		<p><%= msg %></p>
	<% end %>	
<% end %>

<%= form_with(model: @article, local: true) do |form| %>
	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</p>
 
	<p>
		<%= form.label :description %><br>
		<%= form.text_area :description %>
	</p>
 
	<p>
		<%= form.submit %>
	</p>
<% end %>