<h1 class="text-2xl text-slate-900">Showing All Article details</h1>
<p class="text-sky-500"><%= link_to 'Add new Article', new_article_path %></p>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
        <th scope="col" class="px-6 py-3">Title</th>
        <th scope="col" class="px-6 py-3">Description</th>
		<th colspan="3" scope="col" class="px-6 py-3">Actions</th>
    </tr>
  </thead>
	<tbody>
		<% @articles.each do |article| %>
			<tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
				<td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= article.title %></td>
				<td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= article.description %></td>
				<td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= link_to 'View', article_path(article) %></td>
				<td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= link_to 'Edit', edit_article_path(article) %></td>
				<td scope="row" class="px-6 py-4 font-medium text-red-900 whitespace-nowrap dark:text-white"><%= link_to 'Delete', article_path(article), data: { "turbo_method": :delete, class: "text-red-500" } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>

